include README.md LICENSE CITATION.cff CHANGELOG.md CONTRIBUTING.md SECURITY.md
include pyproject.toml .dockerignore .gitignore .gitattributes
include .github/workflows/quality.yml

recursive-include docs *.md
recursive-include docker Dockerfile *.yaml *.txt *.md
recursive-include examples *.py *.sh
recursive-include tests *.py
recursive-include validation *.py
